body {
    background-image: url(../assets/img/gyroo.jpg);
    background-size: cover;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

.quadradinho{
    background-image: url(../assets/img/papel\ antigo.avif);
}

.roeder{
    border-radius: 10%;
}

.cabeca1{
    background-color: rgba(255, 255, 255, 0.699);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    position: static;
    border-radius: 20px;
    
    
}

img{
    width: 61px;
    margin: 13px;
}

.purple{
        
        display:flex ;
        justify-content: center;
        padding: 20px;
    }

    .yellow{
        background-color: rgba(255, 255, 255, 0.699) ;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
    }

    .red{
        padding-right: 80px;
    }

    .flex{
        display: flex;
    }

    .gyro{
        height: 200px;
        width: 200px;
    }

    .nome_principal{
        text-align: center;
    }

    .descricao_prsng{
        font-size: 15px;
    }

    .titulo{
        font-size: 25px;
    }

    footer{
        background-color: rgba(255, 255, 255, 0.699);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    position: static;
    border-radius: 20px;
    }

    .cabeca0{
        font-size: 40px;
    }