body {
    background-image: url(../assets/img/gyroo.jpg);
    background-size: cover;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

.quadradinho{
    background-image: url(../assets/img/papel\ antigo.avif);
}

.roeder{
    border-radius: 10%;
}